header
    .menu
        position: fixed
        padding: 20px 80px
        .imgbox
            width: 140px
        nav
            a
                color: #ffffff
                margin: 0 10px
                &:hover
                    color: #ffc800
            
    @media screen and ( max-width: 1000px )
        nav
            a
                display: none
