header
    .box
        .menu
            background-color: #000000
            padding: 20px 80px
            .imgbox
                width: 140px
            nav
                a
                    color: #ffffff
                    margin: 0 10px
                    &:hover
                        color: #ff0000
        .minibox
            .imgbox
                img
                    width:1296px
            .btn
                background-color: #ffff00
