header
    .menu
        background-color: #000000
        padding: 20px 80px
    .imgbox
        width: 140px
    nav
        a
            font-size: 20px
            color: #ffffff
            margin: 0 10px