#portfolio
    .textbox
        padding: 20px
        h1
            font-weight: 700
            font-size: 30px
        h3
            margin: 10px 0
            color: #6c757d
    .box
        margin: 0 0 20px
        padding: 0 10px
        background-color: #ffffff
        .imgbox
            position: relative
            .icon
                width: 100%
                display: flex
                justify-content: center
                align-items: center
                font-size: 30px
                color: #ffffff
                position: absolute
                top: 0
                bottom: 0
                opacity: 0
                &:hover
                    background-color: #ffc800
                    width: 100%
                    opacity: 0
                    transition: 3s
        .textbox
            h2
                font-weight: 700
                font-size: 24px
                margin: 10px 0
            h4
                color: #6c757d
