#portfolio
    background-color: #acadaf16
    .textbox
        padding-top: 40px
        h1
            font-weight: 700
            font-size: 40px
            margin-bottom: 20px
        h3
            font-size: 20px
            margin-bottom: 50px
            color: #6c757d
        h2
            font-weight: 700
            font-size: 29px
            margin-top: 13px
            line-height: 1.2
        h4
            font-size: 20px
            color: #838489
    .box
        margin-bottom: 30px
        padding-bottom: 20px
        background-color: #ffffff
        .imgbox
            position: relative
            .icon
                width: 100%
                display: flex
                justify-content: center
                align-items: center
                font-size: 60px
                color: #ffffff
                position: absolute
                top: 0
                bottom: 0
                opacity: 0
                &:hover
                    background-color: #ffbb00
                    opacity: 0.9
                    transition: 0.5s
                    cursor: pointer
    @media screen and ( max-width: 992px )
        .box
            .imgbox
                width: auto
    @media screen and ( max-width: 576px )
        .textbox
            h1
                font-size: 40px
            h3
                font-size: 18px
                margin-bottom: 35px
        .box
            margin-bottom: 50px
            .imgbox
                width: auto
