#welcome
    background-image: url(assets/header-bg.jpg)
    background-size: cover
    height: 100vh
    display: flex
    align-items: center
    h1
        color: #ffffff
        font-size: 40px
    h2
        color: #ffffff
        font-size: 120px 
        font-weight: 500
        padding: 20px 0
    .btn 
        background-color: #ffc800
        padding: 20px 50px
        color: #ffffff

