#welcome
    background-image: url(assets/header-bg.jpg)
    background-size: cover
    height: 1100px
    h1
        color: #ffffff
        font-size: 40px
    h2
        color: #ffffff
        font-size: 80px 
        font-weight: 500
    .btn 
        background-color: #ffc800
        padding: 20px 50px
        color: #ffffff

