#welcome
    background-image: url(assets/header-bg.jpg)
    background-size: cover
    background-position: center center
    .box
        height: 700px
        display: flex
        align-items: center
        justify-content: center
    .textbox
        h1
            color: #ffffff
            font-size: 40px
            margin-bottom: 20px
        h2
            color: #ffffff
            font-weight: 700
            font-size: 90px
            margin: 0 0 50px 0
        .btn
            background-color: #ffc800
            padding: 18px 40px
            color: #ffffff
            border-radius: 12px
            font-size: 22px
            font-weight: 700px
            h4
                cursor: pointer
                &:hover
                    background-color: #c28d07

    @media screen and ( max-width: 576px )
        .box
            .textbox
                h1
                    font-size: 35px
                h2
                        font-size: 60px
