body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
  cursor: pointer;
}

section {
  padding: 50px 0;
}

header .menu {
  width: 100%;
  background-color: #212529;
  padding: 10px 0;
  height: 70px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}
header .menu .imgbox {
  width: 140px;
  margin-left: 120px;
}
header .menu .btn {
  color: #ffffff;
  display: flex;
  align-items: center;
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.6470588235);
  padding: 2px;
  opacity: 0.6;
}
header .menu .btn h5 {
  cursor: pointer;
  font-weight: 700px;
  font-size: 17px;
}
header .menu .btn .icon {
  margin-left: 7px;
  cursor: pointer;
}
header .menu nav {
  margin-right: 120px;
}
header .menu nav a {
  font-size: 19px;
  margin: 0 20px;
  cursor: pointer;
}
header .menu nav a:hover {
  color: #ffcb11;
}
@media screen and (max-width: 576px) {
  header .menu {
    height: 70px;
  }
  header .menu .btn {
    margin-right: 10px;
    padding: 6px 10px;
  }
  header .menu .imgbox {
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  header .menu nav {
    display: none;
  }
  header .menu .btn {
    display: flex;
    margin-right: 30px;
  }
  header .menu .imgbox {
    margin-left: 20px;
  }
}
@media screen and (max-width: 992px) {
  header .menu nav {
    margin-right: 55px;
  }
  header .menu nav a {
    margin: 0 10px;
  }
  header .menu nav a .imgbox {
    margin-left: 40px;
  }
}

#welcome {
  background-image: url(assets/header-bg.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  align-items: center;
}
#welcome .textbox {
  padding: 40px 0;
}
#welcome .textbox h1 {
  color: #ffffff;
  font-size: 34px;
  margin: 20px 0;
  padding: 50px 0 0;
}
#welcome .textbox h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 80px;
}
#welcome .textbox .btn {
  background-color: #ffc800;
  padding: 22px 60px;
  color: #ffffff;
  margin: 50px 0 0;
  border-radius: 12px;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  #welcome .textbox h1 {
    font-size: 40px;
  }
  #welcome .textbox h2 {
    font-size: 100px;
  }
}

#services .textbox {
  padding-bottom: 50px;
}
#services .textbox h1 {
  font-weight: 700;
  font-size: 40px;
}
#services .textbox h3 {
  margin-top: 20px;
  font-size: 18px;
  color: #6c757d;
}
#services .minibox .icon {
  width: 150px;
  height: 150px;
  border: 1px solid #ffc800;
  border-radius: 50%;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc800;
  color: #ffffff;
}
#services .textbox h2 {
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0;
}
#services .textbox p {
  font-size: 20px;
  color: #6c757d;
}

#portfolio {
  background-color: rgba(172, 173, 175, 0.0862745098);
}
#portfolio .textbox {
  padding-top: 40px;
}
#portfolio .textbox h1 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
#portfolio .textbox h3 {
  font-size: 20px;
  margin-bottom: 50px;
  color: #6c757d;
}
#portfolio .textbox h2 {
  font-weight: 700;
  font-size: 29px;
  margin-top: 13px;
  line-height: 1.2;
}
#portfolio .textbox h4 {
  font-size: 20px;
  color: #838489;
}
#portfolio .box {
  margin-bottom: 30px;
  padding-bottom: 20px;
  background-color: #ffffff;
}
#portfolio .box .imgbox {
  position: relative;
}
#portfolio .box .imgbox .icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
}
#portfolio .box .imgbox .icon:hover {
  background-color: #ffbb00;
  opacity: 0.9;
  transition: 0.5s;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  #portfolio .box .imgbox {
    width: auto;
  }
}
@media screen and (max-width: 576px) {
  #portfolio .textbox h1 {
    font-size: 40px;
  }
  #portfolio .textbox h3 {
    font-size: 18px;
    margin-bottom: 35px;
  }
  #portfolio .box {
    margin-bottom: 50px;
  }
  #portfolio .box .imgbox {
    width: auto;
  }
}

#about {
  padding: 100px 0;
}
#about .text-center {
  margin-bottom: 55px;
}
#about .text-center h1 {
  font-size: 60px;
  font-weight: 700px;
  margin-bottom: 10px;
}
#about .text-center h3 {
  font-size: 20px;
  color: #828080;
}
#about .box {
  display: flex;
  align-items: center;
  margin: 0 0 100px 100px;
}
#about .box .textbox {
  width: 400px;
  margin: 0 20px;
  text-align: end;
}
#about .box .textbox h2, #about .box .textbox h4 {
  font-size: 30px;
  font-weight: 700px;
  line-height: 1.3;
}
#about .box .textbox p {
  font-size: 19px;
  color: #828080;
  line-height: 1.4;
}
#about .box .imgbox {
  border: 5px solid #828080;
  border-radius: 50%;
}
#about .right {
  justify-content: end;
  margin: 0 100px 100px 0;
}
#about .right .textbox {
  text-align: start;
}
#about .yellow {
  display: flex;
  justify-content: center;
}
#about .story {
  background-color: #ffbb00;
  width: 200px;
  height: 200px;
  border: 5px solid #dfe0e1;
  border-radius: 50%;
  color: #ffffff;
  margin: auto;
}
#about .story .minibox {
  text-align: center;
  padding: 0 40px;
}
#about .story .minibox h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (max-width: 992px) {
  #about .box {
    margin: 0 0 100px 0;
    align-items: flex-start;
  }
  #about .box .textbox {
    width: 190px;
  }
}
@media screen and (max-width: 768px) {
  #about .text-center h1 {
    font-size: 55px;
  }
  #about .text-center h3 {
    font-size: 18px;
  }
  #about .box {
    align-items: flex-start;
    flex-direction: row-reverse;
    margin: 0 0 70px 0;
  }
  #about .box .textbox {
    width: 400px;
    text-align: start;
  }
  #about .box .imgbox {
    width: 140px;
    height: auto;
    margin: 0;
  }
  #about .right {
    margin: 0 0 70px 0;
    flex-direction: row;
  }
  #about .right .textbox {
    text-align: start;
  }
  #about .yellow {
    justify-content: flex-start;
  }
  #about .story {
    width: 140px;
    height: 140px;
  }
  #about .story .minibox {
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  #about .text-center h1 {
    font-size: 50px;
  }
  #about .text-center h3 {
    font-size: 18px;
  }
  #about .box .imgbox {
    width: 140px;
    height: auto;
  }
  #about .box .textbox h2, #about .box .textbox h4 {
    font-size: 25px;
  }
  #about .box .textbox p {
    font-size: 18px;
  }
  #about .yellow .story {
    width: 100px;
    height: 100px;
  }
  #about .yellow .story .minibox {
    padding: 0 15px;
  }
  #about .yellow .story .minibox h2 {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */